<div class="results-block">
  <%= render 'shared/flashes' %>
</div>

<% if @friend %>
  <div class="card card-header results-block">
    <strong>Email: </strong> <%= @friend %>
    <strong>Name: </strong> <%= @friend %>
    <strong>Price: </strong> <%= @friend %>
    <%= link_to 'Follow', '#',
                            class: "btn btn-xs btn-success", method: :post %>
  </div>
<% end %>
